$primaryColor: #f9b707;
$header_color: white;
$footer_bg: #222;
$footer_index_bg: #10120f;
$error_color: crimson;
$success_color: #00bfa5;
$footer_bottom_color: black;
$black: #222;
$black_light: #333;
$grey: #555;
$grey_light: #aaa;
$section_bg_color: darken(white, 5%);
$dark-blue: #151d2e;
$black_filter: rgba(0, 0, 0, 0.65);
$mobile_nav_bg_color: #151d2e;
$home_carousel_bg: #171924;
