$primaryColor: #f9b707;
$header_color: white;
$footer_bg: #222;
$error_color: crimson;
$footer_bottom_color: black;
$black: #222;
$black_light: #333;
$grey: #555;
$grey_light: #888;
$section_bg_color: darken(white, 5%);
