@import '~/assets/styles/colors.scss';
@import '~/assets/styles/variables.scss';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::before,
  &::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
@font-face {
  font-family: ptSans;
  src: url('~/assets/fonts/PTSans-Regular.ttf');
}
html {
  overflow-y: initial !important;
  overflow-x: initial !important;
}
html,
body {
  height: 100%;
}
body {
  font-size: 10px;
  font-family: ptSans;
  overflow-x: hidden;
}
body.hide-scroll {
  overflow: hidden;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
body .v-application p {
  margin-bottom: 0px;
}
.border-bottom-light {
  border-bottom: 1px solid darken(white, 10%);
}
.border-bottom-dark {
  border-bottom: 1px solid lighten(black, 25%);
}
.border-top-light {
  border-top: 1px solid darken(white, 10%);
}
.border-top-dark {
  border-top: 1px solid lighten(black, 25%);
}
.v-list-item__title,
.v-list-item__subtitle {
  white-space: initial !important;
}
.container {
  max-width: initial !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.width-100 {
  width: 100% !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.absolute-center {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.absolute-bottom-center {
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
}
.left-0 {
  left: 0 !important;
}
.right-0 {
  right: 0 !important;
}
.top-0 {
  top: 0 !important;
}
.bottom-0 {
  bottom: 0 !important;
}
.price-edit-form {
  .v-label {
    font-size: 12px !important;
  }
}
.users-table {
  .theme--dark.v-data-table tbody tr.v-data-table__selected {
    background: rgba(185, 236, 236, 0.285) !important;
  }
}
.border-primary {
  border: 0.2em solid #d1a316;
}
.cursor-pointer {
  cursor: pointer !important;
}
.border-dark {
  border: 1px solid darken(white, 50%);
}
.file-input {
  .theme--dark.v-chip:not(.v-chip--active) {
    background-color: rgb(218, 155, 39) !important;
  }
}
.file-input {
  .v-icon.v-icon.v-icon--link {
    color: rgb(218, 155, 39) !important;
    font-size: 2em;
  }
}
.admin-side-bar {
  .v-navigation-drawer__content {
    overflow-y: hidden !important;
  }
}
.admin-side-bar.show-scrollbar {
  .v-navigation-drawer__content {
    overflow-y: auto !important;
  }
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-x-visible {
  overflow-x: visible !important;
}
.overflow-y-visible {
  overflow-y: visible !important;
}
.overflow-visible {
  overflow: visible !important;
}
.overflow-x-auto {
  overflow-x: auto !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}
.overflow-auto {
  overflow: auto !important;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #ffa500;
  border-radius: 0px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body {
  //just for firefox
  scrollbar-width: thin; //thin | auto
  scrollbar-color: #ffa500 transparent; //first scrollbar , second track
}
@media screen and (max-width: 1100px) {
  body {
    font-size: 8px;
  }
}
@media screen and (max-width: 750px) {
  body {
    font-size: 7px;
  }
}
